

<div class="container">
  <div class="row">

    <div class="col-lg-4" style="background-color: orange;">
      <h2>User info</h2>

      <div class="border-top" style="padding10px;">name Username</div>
      <div class="border-top" style="padding10px;">introduction</div>
    </div>

    <div class="col-lg-8"style="background-color: green;">
      <table class="books"></table>
    </div>




  </div>
</div>
